@import "fonts";

$gray: #666;
$darkGrey: #1B1818;
$white: #fff;
$snow: #ddd;
$grey: #d5d5d5;
$greyligt: #2C2C2C;
$red: #b70000;

html, body {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 30px;
  margin: 0;
  padding: 0;
  background: #fff;
}

.container {
  margin: 0 auto;
  width: 1600px;
}
.container-fluid {
  width: calc(100% - 30px);
  padding: 0 15px;
}

.button {
  background: $darkGrey;
  text-transform: uppercase;
  outline: none;
  color: $white;
  padding: 12px 24px;
  text-decoration: none;
  border: 1px solid $darkGrey;
  cursor: pointer;
  font-size: 1rem;
  display: inline-block;
  line-height: 30px;
  font-weight: normal;
  font-family: Raleway, sans-serif;
  transition: 0.62s ease all;



  &:focus{
    border: 1px solid #444;
    background: #444;
  }

  &[disabled="true"]{
    cursor: default;
    color: $snow;
    background: $gray;
    border: 1px solid $gray;
  }

  &:hover:not([disabled="true"]) {
    background: $white;
    color: $darkGrey;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
  }

  &:active {
    color: green !important;
    border:1px solid green !important;
    background: #B4FFB4 !important;
  }

}
.button--small {
  line-height: 24px;
  padding: 8px 22px;
  font-size: 0.75rem;
  font-weight: 600;
}

.form-group {
  margin: 15px;
}
.form-control {

  font-size: 1em;
  font-weight: 600;
  font-style: italic;
  padding: 10px 20px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  outline: none;
  border: 2px solid;
  background: rgba(255, 255, 255, 0.39);
  resize: none;

  &[type="text"] {
    border: none;
    background: none;
    border-bottom: 2px solid #2c2c2c;
  }
}

.text-italic {
  font-style: italic;
  color: $white;
}
.text-italic--dark {
  color: $darkGrey;
}
.text-danger {
  font-style: italic;
  color: red;
}
.text-success {
  font-style: italic;
  color: green;
}
.text-center {
  text-align: center;
}

.section-header {
  display: block;
  color: $darkGrey;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
}
.section-header--white {
  color: $white;

  .section-header__text-small::after {
    background: $white;
  }
}
.section-header__text-small {
  display: inline-block;
  font-size: 1rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    background: $darkGrey;
    bottom: -4.75rem;
    left: 0;
  }
}
.section-header__text-big {
  display: block;
  line-height: 4rem;
  font-size: 3.75rem;
  margin: 0 0 50px;
}
.section-header__text-big--smaller {
  font-size: 3rem;
}

.header {
  background: $darkGrey;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
}
.header__columns {
  display: flex;
}
.header__column--left {
  width: 35%;
  font-family: 'Righteous', cursive;
  color: $white;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  a {
    color: $white;
    text-decoration: none;
  }
}
.header__logo {
  display: inline-block;
  padding-top: 6px;
  transition: 0.4s ease all;
  outline: none;
  &:hover {
    color: $red;
  }
  &:focus {
    color: $red;
  }
  &:active {
    color: #FA4343;
  }
}
.header__column--center {
  width: 30%;
}
.header__column--right {
  width: 35%;

}

.main-menu {
  text-align: center;
  margin-top: 10px;
}
.main-menu__list {
  padding: 0;
  margin: 0;
}
.main-menu__list-item {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  &.active {
    color: $red;
  }
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.main-menu__list-item-link {
  text-decoration: none;
  color: $white;
  transition: 0.4s ease all;
  outline: none;
  &:hover {
  color: $red;
  }
  &:focus {
    color: $red;
  }
  &:active {
    color: #FA4343;
  }
}

.header-contact {
  padding-top: 8px;
  text-align: right;
}
.header-contact__list {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.header-contact__list-item {
  display: inline-block;
  vertical-align: middle;
  &:not(:last-child) {
    margin-right: 15px;
  }
}
.header-contact__list-item-link {
  color: $white;
  font-family: Verdana, sans-serif;
  font-style: normal;
  text-decoration: none;
  opacity: 0.6;
  transition: 0.4s ease all;
  outline: none;
  &:hover {
    opacity: 1;
  }

  img {
    height: 30px;
    width: 30px;
    border-radius: 6px;
  }

  &:active {
  opacity: 0.8;
  }
  &:focus {
  opacity: 1;
  }
}
.header-contact__list-item-phone {
  vertical-align: top;
  margin-left: 5px;
}

.home-first-screen {
  background: url("/img/firstscreen.jpg") no-repeat center top;
  background-size: cover;
  height: calc(100vh - 78px);
  padding-top: 240px;
  margin-top: 87px;
  position: relative;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    background: rgba(black, 0.2);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
}
.home-first-screen__content {
  position: relative;
  z-index: 20;
}
.home-first-screen__header {
  margin: 0;
  color: $white;
  font-size: 3.5rem;
  font-weight: 700;
}
.home-first-screen__text {
  margin: 30px 0;
  color: $white;
}
.home-first-screen__button-container {
  margin-left: 180px;
  padding-top: 5px;
}

.portfolio-images__item {
  display: block;
  position: relative;
  opacity: 1;
  z-index: 10;

  &:hover .portfolio-images__item-text {
  opacity: 1;
  }
}
.portfolio-images__item-img {
  display: block;
  width: 100%;
  height: auto;
}
.portfolio-images__item-text {
  content: "";
  position: absolute;
  background: rgba(black, 0.3);
  z-index: 20;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.4s ease all;
  color: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.portfolio-images__item-title {
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-bottom: 0;
}
.portfolio-images__item-excerpt {
  font-style: italic;
  margin-top: 0;
}

.porfolio-button-container__button {
  margin: 25px auto;
  display: block;
}
.porfolio-button-container__button:hover {
  font-weight: 400 !important;
  letter-spacing: normal !important;
  font-size: 1rem !important;
}

.about {
  display: flex;
}
.about__column-left {
  width: 50%;
}
.about__img {
  display: block;
  width: 100%;
  height: auto;
}
.about__column-right {
  width: 50%;
  padding: 0 50px;
  box-sizing: border-box;
}

.principles {
  display: flex;
  flex-wrap: wrap;
}
.principles__item {
  display: flex;
  width: calc(50% - 30px);
  padding-bottom: 30px;
  margin: 0 15px 15px;
  border-bottom: 1px solid #d5d5d5;

}
.principles__item-number {
  width: 90px;
  font-weight: bold;
  font-size: 3.750em;
  color: #d5d5d5;
  padding-right: 10px;
  line-height: 100%;
  padding-top: 40px;
}
.principles__item-text {
  width: calc(100% - 90px);
}
.principles__item-title {
  font-weight: bold;
  margin: 0 0 0;
}
.principles__item-description {
  font-size: 0.875em;
  font-style: italic;
  line-height: 1.286em;
  margin: 0;
  padding: 10px 0 0;
}

.categories__text {
  max-width: 630px;
  margin: 0 auto 25px;
  font-style: italic;
  line-height: 1.5rem;
}
.categories-list {
  display: flex;
}
.categories-list__item {
  position: relative;
  width: calc((100% - 45px) / 4);
  margin-right: 15px;


  &:last-child{

    margin-right: 0;
  }

  &:hover .categories-list__item-button-container {
    background: rgba(black, 0.1);
  }
}
.categories-list__item-img {
  display: block;
  width: 100%;
  height: auto;
}
.categories-list__item-button-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(black, 0.4);
  transition: 0.4s ease all;
  text-align: center;

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
  }
}
.categories-list__item-link {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 17px;
  border: 1px solid $white;
  background: rgba($darkGrey, 0.4);
  text-decoration: none;
  color: $white;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 800;
  transition: 0.4s ease background;

  &:hover {
    background: rgba($darkGrey, 1);
  }
}

.instagram {
  background: $darkGrey;
  padding: 20px 0;
  color: $white;
}
.instagram__button-link {
  background: $white;
  color: $darkGrey;
  margin: 25px auto;
  display: block;
  word-spacing: 3px;
}

.prices {
  background: $snow;
  padding: 10px 0 30px;
}

.price-list {
  display: flex;
}
.price-list-item {
  width: calc((100% - 90px) / 4);
  position: relative;
  text-align: center;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.price-list-item__header {
  position: relative;
  padding: 15px 0 20px;
  overflow: hidden;

  &:before, &:after {
    content: '';
    height: 10px;
    position: absolute;
    bottom: 0;
    width: 50%;
    z-index: 20;
    background: $white;
  }

  &:before {
    transform: skewX(45deg);
    left: -5px;
  }

  &:after {
    transform: skewX(135deg);
    right: -5px;
  }
}
.price-list-item__header-content {
  position: relative;
  z-index: 20;
  color: $white;
}
.price-list-item__image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.price-list-item__name {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1rem;
  margin: 0;

  &:after, &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 4px;
    background: $white;
    margin: 0 10px;
  }
}
.price-list-item__price {
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  margin: 10px 0 5px;
  line-height: 2.5rem;

  &:after {
    content: '$';
    font-size: 1.8rem;
    font-weight: 900;
  }
}
.price-list-item__comment {
  font-weight: 800;
  font-size: 0.9rem;
  margin: 0;
}
.price-list-item__content {
  background: #fff;
  padding-bottom: 30px;
}
.price-list-item__characteristics-list {
  margin: 0;
  padding: 12px 0 40px;
}
.price-list-item__characteristic {
  display: block;
  font-size: 0.9rem;
  padding: 10px 0;
  position: relative;

  &:not(:last-child):after {
    content: '';
    display: block;
    width: 95px;
    height: 1px;
    background: $grey;
    margin: 0 auto;
    position: relative;
    bottom: -10px;
  }
}