@import "fonts";

$gray: #666;
$darkGrey: #1B1818;
$white: #fff;
$snow: #ddd;
$greyligt: #2C2C2C;
$red: #b70000;

html, body {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 30px;
  margin: 0;
  padding: 0;
  background: #fff;
}

.container {
  margin: 0 auto;
  width: 1600px;
}

.button {
  background: $darkGrey;
  text-transform: uppercase;
  outline: none;
  color: $white;
  padding: 12px 24px;
  text-decoration: none;
  border: 1px solid $darkGrey;
  cursor: pointer;
  font-size: 1rem;
  display: inline-block;
  line-height: 30px;
  font-weight: normal;
  font-family: Raleway, sans-serif;
  transition: 0.62s ease all;



  &:focus{
    border: 1px solid #444;
    background: #444;
  }

  &[disabled="true"]{
    cursor: default;
    color: $snow;
    background: $gray;
    border: 1px solid $gray;
  }

  &:hover:not([disabled="true"]) {
    background: $white;
    color: $darkGrey;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
  }

  &:active {
    color: green !important;
    border:1px solid green !important;
    background: #B4FFB4 !important;
  }

}

.form-group {
  margin: 15px;
}
.form-control {

  font-size: 1em;
  font-weight: 600;
  font-style: italic;
  padding: 10px 20px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  outline: none;
  border: 2px solid;
  background: rgba(255, 255, 255, 0.39);
  resize: none;

  &[type="text"] {
    border: none;
    background: none;
    border-bottom: 2px solid #2c2c2c;
  }
}

.text-italic {
  font-style: italic;
  color: $white;
}
.text-danger {
  font-style: italic;
  color: red;
}
.text-success {
  font-style: italic;
  color: green;
}

.section-header {
  display: block;
  color: $darkGrey;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
}
.section-header--white {
  color: $white;

  .section-header__text-small::after {
    background: $white;
  }
}
.section-header__text-small {
  display: inline-block;
  font-size: 1rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    background: $darkGrey;
    bottom: -4.75rem;
    left: 0;
  }
}
.section-header__text-big {
  display: block;
  line-height: 4rem;
  font-size: 3.75rem;
  margin: 0 0 50px;

}

.header {
  background: $darkGrey;
  padding: 20px 0;
}
.header__columns {
  display: flex;
}
.header__column--left {
  width: 35%;
  font-family: 'Righteous', cursive;
  color: $white;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  a {
    color: $white;
    text-decoration: none;
  }
}
.header__logo {
  display: inline-block;
  padding-top: 6px;
  transition: 0.4s ease all;
  outline: none;
  &:hover {
    color: $red;
  }
  &:focus {
    color: $red;
  }
  &:active {
    color: #FA4343;
  }
}
.header__column--center {
  width: 30%;
}
.header__column--right {
  width: 35%;

}

.main-menu {
  text-align: center;
  margin-top: 10px;
}
.main-menu__list {
  padding: 0;
  margin: 0;
}
.main-menu__list-item {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  &.active {
    color: $red;
  }
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.main-menu__list-item-link {
  text-decoration: none;
  color: $white;
  transition: 0.4s ease all;
  outline: none;
  &:hover {
  color: $red;
  }
  &:focus {
    color: $red;
  }
  &:active {
    color: #FA4343;
  }
}

.header-contact {
  padding-top: 8px;
  text-align: right;
}
.header-contact__list {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.header-contact__list-item {
  display: inline-block;
  vertical-align: middle;
  &:not(:last-child) {
    margin-right: 15px;
  }
}
.header-contact__list-item-link {
  color: $white;
  font-family: Verdana, sans-serif;
  font-style: normal;
  text-decoration: none;
  opacity: 0.6;
  transition: 0.4s ease all;
  outline: none;
  &:hover {
    opacity: 1;
  }

  img {
    height: 30px;
    width: 30px;
    border-radius: 6px;
  }

  &:active {
  opacity: 0.8;
  }
  &:focus {
  opacity: 1;
  }
}
.header-contact__list-item-phone {
  vertical-align: top;
  margin-left: 5px;
}

.home-first-screen {
  background: url("/img/firstscreen.jpg") no-repeat center top;
  background-size: cover;
  height: calc(100vh - 78px);
  padding-top: 240px;
  position: relative;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    background: rgba(black, 0.2);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
}
.home-first-screen__content {
  position: relative;
  z-index: 20;
}
.home-first-screen__header {
  margin: 0;
  color: $white;
  font-size: 3.5rem;
  font-weight: 700;
}
.home-first-screen__text {
  margin: 30px 0;
  color: $white;
}
.home-first-screen__button-container {
  margin-left: 180px;
  padding-top: 5px;
}

.portfolio-images__item {
  display: block;
  position: relative;
  opacity: 1;
  z-index: 10;

  &:hover .portfolio-images__item-text {
  opacity: 1;
  }
}
.portfolio-images__item-img {
  display: block;
  width: 100%;
  height: auto;
}
.portfolio-images__item-text {
  content: "";
  position: absolute;
  background: rgba(black, 0.3);
  z-index: 20;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.4s ease all;
  color: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.portfolio-images__item-title {
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-bottom: 0;
}
.portfolio-images__item-excerpt {
  font-style: italic;
  margin-top: 0;
}

.porfolio-button-container__button {
  margin: 25px auto;
  display: block;
}
.porfolio-button-container__button:hover {
  font-weight: 400 !important;
  letter-spacing: normal !important;
  font-size: 1rem !important;
}